.clean.login {
    main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@media screen and (max-height: 800px) {
    .clean.login {
        min-height: 110vh !important;
    }
}


@media screen and (max-height: 650px) {
    .clean.login {
        min-height: calc(100vh + 150px) !important;
    }
}

@media screen and (max-height: 500px) {
    .clean.login {
        min-height: calc(100vh + 300px) !important;
    }
}